body {
  background-color: rgb(165, 149, 167);

  
}

#cabecalho {
  top: 0;
}

.lista {
  width: 300px;
  font-weight: bold;
  line-height: 15px;
  font-style: italic;
  }

#tamanho {
  height: 600px;
}

#artigo {
  font-family: 'D050000L', 'arial';
}

h1 {
  font-family:'Courier New', Courier, monospace;
  text-align: center;
  text-decoration: underline;
}

h2 {
  text-align: center;
}

a {
  text-decoration: none;
  text-transform: none;
}

#minha_foto {
  height: 200px;
}

